<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Livvic:400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/result.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>
<body id="content">
    <h1><%= title %> - Resultat</h1>
    <p>Denna lista är sorterad efter vilken affisch som fått högst procent "ja". Skippade röster räknas inte med i procenten, men visas i mätaren.</p>
    <hr>

    <%
    const partyNames = {
        C: "Centerpartiet",
        KD: "Kristdemokraterna",
        L: "Liberalerna",
        M: "Moderaterna",
        MP: "Miljöpartiet",
        S: "Socialdemokraterna",
        SD: "Sverigedemokraterna",
        V: "Vänsterpartiet"
    }

    const votesArray = Object.entries(data).flatMap(([party, questions]) => Object.entries(questions).map(([question, votes]) => ({
        party,
        question,
        votes
    })));

    const orderedVotes = votesArray.sort((a, b) => {
        const aYes = a.votes.yes || 0;
        const aNo = a.votes.no || 0;
        const bYes = b.votes.yes || 0;
        const bNo = b.votes.no || 0;
        return (bYes - bNo) - (aYes - aNo);
    });

    // order by percentage
    const orderedVotesPercentage = votesArray.sort((a, b) => {
        const aYes = a.votes.yes || 0;
        const aNo = a.votes.no || 0;
        const bYes = b.votes.yes || 0;
        const bNo = b.votes.no || 0;
        return (bYes / (bYes + bNo)) - (aYes / (aYes + aNo));
    });

    partyData = JSON.parse(partyData);

    orderedVotesPercentage.forEach(poster => {
        const party = partyData.parties.find(p => p.id === poster.party.toLowerCase());

        // get yesPercent NaN safe
        const yesPercent = ((poster.votes.yes || 0) / ((poster.votes.yes || 0) + (poster.votes.no || 0))) * 100 || 0;
        const yesPercentWithSkip = ((poster.votes.yes || 0) / ((poster.votes.yes || 0) + (poster.votes.no || 0) + (poster.votes.skip || 0))) * 100 || 0;
        const noPercentWithSkip = ((poster.votes.no || 0) / ((poster.votes.yes || 0) + (poster.votes.no || 0) + (poster.votes.skip || 0))) * 100 || 0;
        const skipPercentWithSkip = ((poster.votes.skip || 0) / ((poster.votes.yes || 0) + (poster.votes.no || 0) + (poster.votes.skip || 0))) * 100 || 0;
    %>

    <div class="row" style="margin:10px 0;">

        <div class="col">
            <h3><img src="../images/logo-<%= poster.party.toLowerCase() %>.jpg" height="30px"> <%= yesPercent.toFixed(1) %>% - <%= party.posters[poster.question]; %> <a style="font-size:20px; text-decoration: none;" href="<%=`images/${party.id}${parseInt(poster.question)+1}.${party.format}`%>">&#128279;</a> </h3>
            <div class="d-flex">
                <div style="width: <%= yesPercentWithSkip %>%; height: 30px; background-color: green;"></div>
                <div style="width: <%= skipPercentWithSkip %>%; height: 30px; background-color: gray;"></div>
                <div style="width: <%= noPercentWithSkip %>%; height: 30px; background-color: red;"></div>
            </div>
            <i><b><%= poster.votes.yes || 0 %></b> ja,
                <b><%= poster.votes.no || 0 %></b> nej,
                <b><%= poster.votes.skip || 0 %></b> skippade</i>
        </div>
    </div>

    <% }); %>

<script>

</script>
</body>
</html>
